################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CourseSignupSystem.csproj
/bin
/.vs
 *.png
/obj
*.log
